<!-- Footer -->
<footer class="page-footer font-small blue pt-4 fix">
<div class="container">
  <div class="container-fluid text-center text-md-left">

    <!-- Grid row -->
    <div class="row">

      <!-- Grid column -->
      <div class="col-md-6 mt-md-0 mt-3">

        <!-- Content -->
        <a class="navbar-brand" routerLink="/">FIRST APP</a>
        <p>Get started now to grow your business. Create an account or get in touch with us.</p>

      </div>
      <!-- Grid column -->

      <hr class="clearfix w-100 d-md-none pb-3">

      <!-- Grid column -->
      <div class="col-md-3 mb-md-0 mb-3">

          <!-- Links -->
          <h5 class="text-uppercase">OUR SOLUTIONS</h5>

          <ul class="list-unstyled">
            <li>
              <a href="#!">Check Out</a>
            </li>
            <li>
              <a href="#!">Card Issuing</a>
            </li>
            <li>
              <a href="#!">Store</a>
            </li>
            <li>
              <a href="#!">Payment Links</a>
            </li>
          </ul>

        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-3 mb-md-0 mb-3">

          <!-- Links -->
          <h5 class="text-uppercase">COMPANY</h5>

          <ul class="list-unstyled">
            <li>
              <a href="#!">About Us</a>
            </li>
            <li>
              <a href="#!">Careers</a>
            </li>
            <li>
              <a href="#!">Customers</a>
            </li>
            <li>
              <a href="#!">Wave Podcast</a>
            </li>
          </ul>

        </div>
        <!-- Grid column -->


    </div>
    <!-- Grid row -->

  </div>
  <!-- Footer Links -->

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">© 2020 Copyright:
    <a href="https://mdbootstrap.com/"> MDBootstrap.com</a>
  </div>
  <!-- Copyright -->
</div>
  <!-- Footer Links -->
</footer>
<!-- Footer -->
